#search-box {
position: relative;
width: 100%;
margin-top: 30px;
}

#search-form 
{
height: 40px;
border: 1px solid #999;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
overflow: hidden;
}

#search-text 
{
font-size: 14px;
color: #ddd;
border-width: 0;
background: transparent;
}

#search-box input[type="text"]
{
width: 90%;
padding: 11px 0 12px 1em;
color: #333;
outline: none;
}

#search-button {
position: absolute;
top: 0;
right: 0;
height: 42px;
width: 100px;
font-size: 12px;
color: #fff;
text-align: center;
line-height: 42px;
border-width: 0;
background-color:#0380DD;
-webkit-border-radius: 0px 5px 5px 0px;
-moz-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
cursor: pointer;
}

h3
{
	word-break:break-word;
}

a:link
{
	text-decoration: none;
	color: #0380DD;
}

a:visited
{
	text-decoration: none;
	color: #0380DD;
}

a:hover
{
	text-decoration: none;
	color: #0380DD;
	cursor: pointer;
}

a:active
{
	text-decoration: none;
	color: #0380DD;
}

ul
{
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}
li
{
	display: block;
	float: left;
	margin: 5px;
}